.projects-main-div {
    color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#project-header {
    margin-left: 25%;
}

.project-item {
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 800px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    padding: 10px;
}

.project-item>img {
    width: 300px;
}

.project-item>img:hover {
    background-color: lightgray;
    transition: all .7s ease;
}