body {
    /* background-image: url('background-new.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 246, 246);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    color: whitesmoke;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 23%;
    min-width: 160px;
    padding-top: 10px;
    background-color: rgb(37, 37, 37);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
    -moz-box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
    box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
}

#name {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0;
}

#title {
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 15px;
    border-top: 1px solid whitesmoke;
    margin-top: 8px;
}

.link {
    padding-bottom: 20px;
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
}

.link:hover {
    color: grey;
    transition: all .4s ease;
}

.selected {
    color: grey;
}

#face {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#contact-div {
    text-align: center;
    margin-top: 40%;

}

#contact-header {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 20px;
}

a {
    color: inherit;
}
