body {
    /* background-image: url('backgound-code.png'); */
    /* background-image: url('background-code2.png'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    color: whitesmoke;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 23%;
    min-width: 160px;
    padding-top: 10px;
    background-color: rgb(37, 37, 37);
    -webkit-box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
    -moz-box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
    box-shadow: 0px 0px 10px -1px rgba(110,104,110,0.87);
}

#name {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0;
}

#title {
    padding-top: 15px;
    font-size: 20px;
    border-top: 1px solid whitesmoke;
}

.link {
    padding-bottom: 20px;
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
}

.link:hover {
    color: grey;
    transition: all .4s ease;
}

#face {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#footer {
    position: fixed;
    margin-top: 50%;
    color: rgb(228, 228, 228);
}
